
body {
    background: url('../img/learn.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1 {
    font-size: 5rem;
}

section article footer div h5:hover,
section #accordion .card h5:hover
{
    cursor: pointer;
}

footer {
    position: static;
    bottom: 0;
}

.title {
    height: 200px;
}

.title #text {
    display: inline-block;
}

.title #image img {
    width: 150px;
    height: 200px; 
    padding-bottom: 50px;
}

.fady {
    padding: 0pt;
    background-color: rgba(255, 255, 255, 0.75);
}

.fonty {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.box .box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: white;
    background: rgba(40, 138, 138, 0.7);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.box .box-caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.box:hover .box-caption {
    cursor: pointer;
    opacity: 1;
}

.loginform, .registerform {
    width: 40%;
    display: inline-block;
}

.card {
    background-color:rgba(0, 0, 0, 0);
}

.card-header {
    background-color: rgba(255, 255, 255, 0.75);
}

#text {
    letter-spacing: 2px;
}

#image {
    width: 150px;
    height: 150px;
    display: inline-block;
}

#map {
    width: 100%;
    height: 400px;
}

#forgot {
    float: right;
    margin-top: 17px;
}

#forgot a {
    color: green;
}
