<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/ext/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
	<title>Login KokoAyuda</title>
</head>
<body>
	<div class="container">
		<div class="title text-center">
			<div id="image"><img src="../static/img/Kokoa1.png" alt="Oh diablos :v"></div>
			<span id="text"><h1 class="text-white mt-5 d-none d-lg-block fonty">KokoAyuda</h1></span>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light fady py-lg-4">
		<div class="container">
			<a href="#" class="navbar-brand d-lg-none">KokoAyuda</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item py-lg-4">
						<a class="nav-link text-uppercase fonty" href="index.html">Inicio
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item py-lg-4">
						<a class="nav-link text-uppercase fonty" href="repo.html">Repositorio</a>
					</li>
					<li class="nav-item py-lg-4">
						<a class="nav-link text-uppercase fonty" href="acerca_de.html">Acerca de</a>
					</li>
					<li class="nav-item py-lg-4">
						<a class="nav-link text-uppercase fonty" href="kokoa.html">Cont&aacute;ctanos</a>
					</li>
					<li class="nav-item active py-lg-4">
						<a class="nav-link text-uppercase fonty" href="login.html">Acceder</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		
		<div class="row justify-content-between">
			<form class="col-lg-5 col-sm-10 mx-auto fady p-3 my-4" id="loginForm">
				<span><h4 class="fonty">Inicia sesi&oacute;n</h4></span>
				<div class="my-4">
					<!-- <label for="emailInput">Email</label> -->
					<input type="text" class="form-control" id="loginIdInput" aria-describedby="idMsg" placeholder="Matr&iacute;cula" required pattern="[0-9].{8}">
					<small id="idMsg>" class="form-text text-muted">Esta informacion es privada y no ser&aacute; compartida de ninguna manera</small>
				</div>
				<div class="my-4">
					<!-- <label for="passwd">Contraseña</label> -->
					<input type="password" class="form-control" id="passwd" placeholder="Contraseña" required pattern=.{8,}>
				</div>
				<div class="my-4 was-validated">
					<label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Mantener la sesi&oacute;n</span>
					</label>
				</div>
				<div class="mt-5">
					<button type="submit" class="btn btn-outline-success">Ingresar</button>
					<span id="forgot"><a href="#">¿Olvidaste tu contraseña?</a></span>
				</div>
			</form>
		
			<form class="col-lg-5 col-sm-10 mx-auto fady p-3 my-4" id="registerForm">
				<span><h4 class="fonty">¿No tienes cuenta? ¡Reg&iacute;strate ahora!</h4></span>
				<div class="form-group">
					<input type="text" class="form-control" id="nameInput" placeholder="Nombre" required pattern=.{10,20}>
					<div id="nombreFeedback" class="invalid"></div>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="idInput" placeholder="Matr&iacute;cula" required pattern="[0-9].{8}">
					<div id="idFeedback" class="invalid"></div>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="emailInput" placeholder="Correo ESPOL" required pattern=.{10,35}>
					<div id="emailFeedback" class="invalid"></div>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="passwdInput" placeholder="Contraseña" required pattern=.{8,}>
					<div id="passwordFeedback" class="invalid"></div>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="passwdConfirmInput" placeholder="Confirme contraseña" required pattern=.{8,}>
					<div id="passwdConfirmFeedback" class="invalid"></div>
				</div>
				<button id="btnRegistrar" type="submit" class="btn btn-outline-success">Reg&iacute;strate</button>
			</form>
		</div>
	</div>

	<footer>
		<div class="container text-center fonty py-4">
			<p>Copyright &copy; Miguel Sanchez y Alexis Rivadeneira</p>
		</div>
	</footer>

	<script src="../static/ext/jquery/jquery-3.2.1.min.js"></script>
	<script src="../static/ext/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../static/js/register.js"></script>
</body>
</html>