<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/ext/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed">
	<title>KokoAyuda</title>
</head>
<body>
	<div class="container">
		<div class="title text-center">
			<div id="image"><img src="../static/img/Kokoa1.png" alt="Oh diablos :v"></div>
			<div id="text"><h1 class="text-white mt-5 d-none d-lg-block fonty">KokoAyuda</h1></div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light fady py-lg-4">
		<div class="container">
			<a href="#" class="navbar-brand d-lg-none fonty">KokoAyuda</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item active py-lg-4">
						<a class="nav-link text-uppercase fonty" href="index.html">Inicio
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item py-lg-4">
						<a class="nav-link text-uppercase fonty" href="login.html">Acceder</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container fady my-3">
		<h2 class="text-center py-5">Cierre de sesion satisfactorio</h2>
	</div>


	<script src="../static/ext/jquery/jquery.min.js"></script>
	<script src="../static/ext/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
